/*css file to provide styling for our login page*/
/*By hms91*/

/*set bg background-image 
set up some font family for our google font
apply a subtle txt shadow*/
body {
  background-image: url("fire.jpg");
  background-repeat: no-repeat;
  font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; 
  font-size: 16px; 
  text-shadow: 2px 2px 2px #aaa;
}

/*styling for our form*/
.form { 
  height: 110px;
  width:  190px;
  margin: auto;
  margin-top: 50px;
  border: 2px #FFFFFF solid;
  padding: 100px;
  }

.form input { 
  padding: 7px;
  margin: 7px
}

/*styling for our 'dummy text'*/
.text {
  width:  190px;
  margin: auto;
  margin-top: 50px;
  text-transform: lowercase;
  color: #FFFFFF;
}
